/* -------- === GOOGLE FONTS === -------- */
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* -------- === CSS VARIABLES === -------- */
:root {
  /* -------- Colors -------- */
  --background-color: #050405;
  --first-color: #ffc15e;
  --text-color: #fff;

  /* -------- Font and Typography -------- */
  --body-font: "Poppins", sans-serif;
  --name-font: "Allura", cursive;
  --biggest-font-size: 2rem;
  --h1-font-size: 1.7rem;
  --h2-font-size: 1.2rem;
  --h3-font-size: 1.1rem;
  --h4-font-size: 1rem;
  --normal-font-size: 0.9rem;
  --small-font-size: 0.7rem;
  --smaller-font-size: 0.7rem;

  /* -------- Margins -------- */
  --mb: 2rem;
}

@media screen and (min-width: 900px) {
  :root {
    --biggest-font-size: 6rem;
    --h1-font-size: 5rem;
    --h2-font-size: 3rem;
    --h3-font-size: 1.5rem;
    --h4-font-size: 1.3rem;
    --normal-font-size: 1rem;
  }
}

/* -------- === BASE === -------- */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

header {
  width: 100%;
  height: 100vh;
}

/* -------- CSS Classes -------- */
.container {
  padding: 10px 5%;
}

.cont {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.my-photo {
  width: 35%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subtitle {
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb);
  text-align: center;
  letter-spacing: 0.1rem;
}

.btn {
  background-color: #ffc15e;
  display: block;
  margin: 2rem auto;
  width: fit-content;
  padding: 0.5rem 1rem;
  letter-spacing: 0.1rem;
  font-weight: 500;
  font-size: var(--normal-font-size);
  transition: all 0.5s;
}

.btn:hover {
  transform: scale(0.9);
}

/* -------- Header -------- */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 5%;
}

.logo {
  width: 200px;
}

nav ul li {
  display: inline;
  margin: 10px 20px;
}

nav ul li a {
  font-size: var(--h4-font-size);
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 0.1rem;
  background-color: var(--first-color);
  position: absolute;
  left: 0;
  bottom: -0.3rem;
  transition: all 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

nav ul li a:hover {
  color: var(--first-color);
}

.header-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-description h2 {
  font-size: var(--h1-font-size);
  letter-spacing: 0.2rem;
  margin-top: 0.5rem;
}

.header-description h1 {
  font-size: var(--biggest-font-size);
  color: var(--first-color);
  font-family: var(--name-font);
  margin-top: 0.1rem;
}

.header-description p {
  font-size: var(--h2-font-size);
  font-weight: 100;
  margin-bottom: 1.5rem;
}

.scroll-top {
  right: 1rem;
  position: fixed;
  bottom: 5%;
  z-index: 1;
}

.scroll-top i {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.277);
}

.scroll-top i:hover {
  color: var(--first-color);
}

/*-------- === SECTIONS === --------*/
/* -------- About me -------- */
.about {
  padding: 5rem 0 0 0;
}

.about-description {
  font-size: var(--normal-font-size);
  text-align: justify;
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px;
  flex-wrap: wrap;
}

.tab-links {
  margin-right: 80px;
  font-size: var(--h3-font-size);
  font-weight: 300;
  cursor: pointer;
  position: relative;
  margin-top: 1rem;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 0.1rem;
  left: 0;
  background-color: var(--first-color);
  position: absolute;
  bottom: -0.3rem;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-contents ul li {
  margin: 20px 0;
}

.tab-contents ul li span {
  color: var(--first-color);
  font-size: var(--h4-font-size);
  font-weight: 500;
}

.tab-contents ul li p {
  margin-top: 0.3rem;
  font-size: var(--normal-font-size);
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

/* -------- Portfolio -------- */
.portfolio {
  padding: 5rem 0 0 0;
}

.portfolio-list {
  display: grid;
  grid-template-columns: repeat(2, 500px);
  grid-gap: 30px;
  margin-top: 50px;
  justify-content: center;
}

.portfolio-item {
  position: relative;
  overflow: hidden;
}

.portfolio-item img {
  width: 100%;
  display: block;
  transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), var(--first-color));
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
  text-align: center;
  transition: height 0.5s;
}

.layer h3 {
  font-weight: 500;
  font-size: var(--h3-font-size);
  letter-spacing: 0.1rem;
  margin-bottom: 0.5rem;
}

.layer p {
  font-size: var(--small-font-size);
  font-weight: 300;
  margin-bottom: 0.2rem;
}

.layer-tech {
  font-size: var(--smaller-font-size);
  font-style: italic;
  font-weight: 100;
  margin-bottom: 0.2rem;
}

.layer-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.layer-links a {
  margin-top: 0.5rem;
  margin-left: 0.7rem;
  margin-right: 0.7rem;
  color: var(--first-color);
  font-size: var(--h4-font-size);
  background-color: white;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: scale 0.5s;
}

.layer-links a:hover i {
  transform: scale(1.1);
}

.portfolio-item:hover img {
  transform: scale(1.1);
}

.portfolio-item:hover .layer {
  height: 100%;
}

/* --------- Contact --------- */
.contact {
  padding: 5rem 0 2rem 0;
}

.contact-col {
  flex-basis: 35%;
  display: flex;
  flex-direction: column;
  font-size: var(--normal-font-size);
}

.contact-col p {
  margin-bottom: 0.3rem;
}

.contact-col a {
  margin-bottom: 0.3rem;
  transition: padding-left 0.5s;
}

.contact-col a:hover {
  padding-left: 1rem;
}

.contact-col i {
  margin-right: 0.8rem;
  font-size: 1.3rem;
  color: var(--first-color);
}

.contact-download-cv {
  margin-top: 2rem;
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: var(--normal-font-size);
  background-color: var(--background-color-form);
  color: var(--text-color);
}

form button {
  border: none;
  color: var(--text-color);
  cursor: pointer;
  background-color: #ffc15e;
  display: block;
  width: fit-content;
  padding: 0.5rem 1rem;
  letter-spacing: 0.1rem;
  font-weight: 500;
  font-size: var(--normal-font-size);
  transition: all 0.5s;
}

form button:hover {
  transform: scale(0.9);
}

nav .fas {
  display: none;
}

/* --------- === MEDIA QUERY === --------- */
/* --------- CSS for Small Screens --------- */
@media screen and (max-width: 900px) {
  .cont {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .my-photo {
    width: 50%;
    border-radius: 50%;
  }

  .header-description {
    margin-top: 0.5rem;
    align-items: center;
  }

  .header-description p {
    margin-bottom: 0.2rem;
  }

  .logo {
    width: 150px;
  }

  nav .fas {
    display: block;
    font-size: var(--h3-font-size);
  }

  nav ul {
    background: var(--first-color);
    position: fixed;
    top: 0;
    right: -10rem;
    width: 10rem;
    height: 100vh;
    padding-top: 5rem;
    z-index: 2;
    transition: right 0.5s;
  }

  nav ul li {
    display: block;
    margin: 2rem;
  }

  nav ul .fas {
    position: absolute;
    top: 2rem;
    left: 2rem;
    cursor: pointer;
  }

  .tab-links {
    margin-right: 0.5rem;
  }

  .portfolio-list {
    grid-template-columns: repeat(1, 350px);
  }
}
